.RadComboBox_IWATGTeel {
  color: #5f5f5f; }
  .RadComboBox_IWATGTeel .rcbInner {
    border-color: #c4c4c4;
    color: #3b3b3b;
    background-color: #ffffff; }
  .RadComboBox_IWATGTeel .rcbActionButton {
    border-color: #c4c4c4;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white, #e3e3e3); }
  .RadComboBox_IWATGTeel .rcbHovered {
    border-color: #0092ab;
    color: black;
    background-color: #ffffff; }
  .RadComboBox_IWATGTeel .rcbHovered .rcbActionButton {
    border-color: #0092ab;
    color: #ffffff;
    background-color: #0092ab;
    background-image: linear-gradient(#00acca, #0092ab); }
  .RadComboBox_IWATGTeel .rcbFocused,
  .RadComboBox_IWATGTeel .rcbExpanded {
    border-color: #0b6e7f;
    color: #333333;
    background-color: #ffffff; }
    .RadComboBox_IWATGTeel .rcbFocused .rcbActionButton,
    .RadComboBox_IWATGTeel .rcbExpanded .rcbActionButton {
      border-color: #0b6e7f;
      color: #ffffff;
      background-color: #14afca;
      background-image: none; }
  .RadComboBox_IWATGTeel .rcbReadOnly {
    border-color: #c4c4c4;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white, #e3e3e3); }
    .RadComboBox_IWATGTeel .rcbReadOnly.rcbHovered {
      border-color: #0092ab;
      color: #ffffff;
      background-color: #0092ab;
      background-image: linear-gradient(#00acca, #0092ab); }
    .RadComboBox_IWATGTeel .rcbReadOnly.rcbFocused, .RadComboBox_IWATGTeel .rcbReadOnly.rcbExpanded {
      border-color: #0b6e7f;
      color: #ffffff;
      background-color: #14afca;
      background-image: none; }

.RadComboBoxDropDown_IWATGTeel {
  border-color: #d9d9d9;
  color: #555555;
  background-color: #ffffff; }
  .RadComboBoxDropDown_IWATGTeel .rcbSeparator {
    color: #5f5f5f;
    background-color: #e3e3e3; }
  .RadComboBoxDropDown_IWATGTeel .rcbHovered {
    color: #333333;
    background-color: #8fe6f5; }
  .RadComboBoxDropDown_IWATGTeel .rcbSelected {
    color: #ffffff;
    background-color: #59c2d4; }
  .RadComboBoxDropDown_IWATGTeel .rcbLoading {
    color: #333333;
    background-color: #8fe6f5; }
  .RadComboBoxDropDown_IWATGTeel .rcbItem em {
    color: #333333;
    background-color: #8fe6f5; }
