.RadDropDownList_IWATGTeel {
  color: #5f5f5f; }
  .RadDropDownList_IWATGTeel .rddlInner {
    border-color: #c4c4c4;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white, #e3e3e3); }
  .RadDropDownList_IWATGTeel .rddlHovered {
    border-color: #0092ab;
    color: #ffffff;
    background-color: #0092ab;
    background-image: linear-gradient(#00acca, #0092ab); }
  .RadDropDownList_IWATGTeel .rddlFocused {
    border-color: #0b6e7f;
    color: #ffffff;
    background-color: #14afca;
    background-image: none; }

.rddlPopup_IWATGTeel {
  border-color: #d9d9d9;
  color: #555555;
  background-color: #ffffff; }
  .rddlPopup_IWATGTeel .rddlItemHovered, .rddlPopup_IWATGTeel .rddlItemLoading {
    color: #333333;
    background-color: #8fe6f5; }
  .rddlPopup_IWATGTeel .rddlItemSelected {
    color: #ffffff;
    background-color: #59c2d4; }
