.RadDropDownTree_IWATGTeel {
  color: #5f5f5f; }
  .RadDropDownTree_IWATGTeel .rddtInner {
    border-color: #c4c4c4;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white, #e3e3e3); }
  .RadDropDownTree_IWATGTeel .rddtHovered {
    border-color: #0092ab;
    color: #ffffff;
    background-color: #0092ab;
    background-image: linear-gradient(#00acca, #0092ab); }
  .RadDropDownTree_IWATGTeel .rddtFocused {
    border-color: #0b6e7f;
    color: #ffffff;
    background-color: #14afca;
    background-image: none; }

.rddtPopup_IWATGTeel {
  border-color: #d9d9d9;
  color: #555555;
  background-color: #ffffff; }
  .rddtPopup_IWATGTeel .rddtFilter {
    background-color: #e3e3e3; }
  .rddtPopup_IWATGTeel .rddtFilterInput {
    border-color: #c4c4c4;
    color: #3b3b3b;
    background-color: #ffffff; }
  .rddtPopup_IWATGTeel .RadTreeView em {
    color: #333333;
    background-color: #8fe6f5; }
  .rddtPopup_IWATGTeel .rddtFilterInput.rddtHovered {
    border-color: #0092ab;
    color: black;
    background-color: #ffffff; }
  .rddtPopup_IWATGTeel .rddtFilterInput.rddtFocused {
    border-color: #0b6e7f;
    color: #333333;
    background-color: #ffffff; }
