// Used Controls:["Grid","Menu","Navigation","DropDownList","Button","ToolTip","PanelBar","TreeView","ToolBar","TabStrip","ProgressBar","TreeList","ListBox","DropDownTree","TagCloud","SocialShare","Rating","Window"]
$base-theme:Silk;
$skin-name:IWATGTeel;
$accent: #0e8aa0;
$accent-contrast: #ffffff;
$text-color: #5f5f5f;
$bg-color: #ffffff;
$base-text: #5f5f5f;
$base-bg: #e3e3e3;
$hovered-text: #ffffff;
$hovered-bg: #0092ab;
$selected-text: #ffffff;
$selected-bg: #14afca;
@import 'Grid.Silk';
@import 'Menu.Silk';
@import 'Navigation.Silk';
@import 'DropDownList.Silk';
@import 'Button.Silk';
@import 'ToolTip.Silk';
@import 'PanelBar.Silk';
@import 'TreeView.Silk';
@import 'ToolBar.Silk';
@import 'TabStrip.Silk';
@import 'ProgressBar.Silk';
@import 'TreeList.Silk';
@import 'ListBox.Silk';
@import 'DropDownTree.Silk';
@import 'TagCloud.Silk';
@import 'SocialShare.Silk';
@import 'Rating.Silk';
@import 'Window.Silk';
