#wrapper .header {
    background-color: #999888;
    padding: 10px 0;
    margin-bottom: 50px;
}

#wrapper .footer {
    text-align: center;
}

#wrapper .footerAds1 {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 40%;
}

#wrapper .footerAds {
    text-align: center;
    align-items: center;
    margin-left: 450px;
}

#wrapper .footer .RadRotator {
    text-align: center;
}

#wrapper .header .RadMenu {
    margin: 5px 0;
    float: none;
}

#wrapper .logo {
    margin: -10px 0 -30px;
    width: 100%;
    display: inline-block;
}

#wrapper .logo img {
    max-width: 100%;
}

#wrapper .jumbotron {
    padding: 1.875em;
    padding-top: 1em;
    background-color: #e9eaea;
}

#wrapper .jumbotron .RadButton {
    float: right;
    margin-top: .667em;
    font-size: .5em;
}

#wrapper .footer {
    width: 100%;
    padding: 30px 15px;
    line-height: 30px;
}
