    table {
        border-collapse: collapse;
        padding:15px;
    }
    
    td {
        margin: 0px;
        padding: 5px;
        text-align: left;
        border:0px none #080808;
        border-radius:0px;
    }
    
    .border {
        border: 1px solid #080808;
    }


